/* --- banner ---*/

.banner {
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 560px) {
  .banner {
    margin-bottom: 0;
  }
}

.banner:last-child {
  margin-bottom: 0;
}

.banner__image {
  display: block;
  width: 100%;
}