/* -------- Header --------- */

/* ---header-rows--- */

.header {
  background-color: #ffffff;
}

.header-top {
  padding: 1.25em 0;

  color: #ffffff;

  background-color: #00122f;
}

@media (max-width: 1040px) {
  .header-top {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .header-top {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header-top__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  margin-bottom: 35px;
  padding-top: 40px;
}

@media (max-width: 1040px) {
  .header-middle {
    margin-left: 20px;
    margin-right: 20px;

    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  .header-middle {
    align-items: center;

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 24px;

    background: linear-gradient(to bottom, #ffffff 72px, #f3f3f3 72px, #ffffff 92px);
  }

  .header-middle::after {
    content: "";
    width: 100%;
    order: 1;
  }
}

@media (max-width: 560px) {
  .header-middle {
    padding-bottom: 41px;

    background: linear-gradient(to bottom, #ffffff 63px, #f3f3f3 63px, #ffffff 83px);
  }
}

.header-bottom {
  padding-bottom: 30px;
}

@media (max-width: 1040px) {
  .header-bottom {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header-bottom {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
}



/* --- header-top --- */

.header-top__heading {
  margin: 0 20px 0 0;

  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.header-top__link {
  text-decoration: underline;
}

.header-top__link:hover {
  color: #0072bc;
}

.header-top__datetime {
  display: block;

  letter-spacing: -0.32px;
}

@media (max-width: 560px) {
  .header-top__heading {
    margin: 0 auto;

    font-size: 0.8125rem;
  }

  .header-top__datetime {
    display: none;
  }
}



/* --- mobile-menu-button --- */

.mobile-menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 36px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;

  background-color: transparent;
  border: none;
  
  cursor: pointer;
}

.mobile-menu-button__bar {
  width: 20px;
  height: 2px;
  margin: 0;

  background: #000000;
  transition-duration: 0.3s;
}

.mobile-menu-button_open .mobile-menu-button__bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.mobile-menu-button_open .mobile-menu-button__bar:nth-child(2) {
  display: none;
}

.mobile-menu-button_open .mobile-menu-button__bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px) {
  .mobile-menu-button {
    display: flex;
  }
}


/*--- header-logo ---*/

.header-logo {
  align-self: center;
}

@media (min-width:561px) and (max-width: 768px) {
  .header-logo {
    margin-left: 20px;
    margin-right: auto;
  }
}



/*--- ccurrent-city ---*/

.current-city {
  display: block;
  min-height: 5px;
  padding-right: 17px;

  background-image: url('../img/header-down-arrow.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 8px;
  border: none;
}

.current-city__text {
  color: #0072bc;

  border-bottom: 2px dotted #0072bc;
}

@media (max-width: 768px) {
  .current-city {
    order: 3;

    margin-left: auto;
    margin-right: 20px;
    margin-top: 33px;
  }
}

@media (max-width: 560px) {
  .current-city {
    display: none;
  }
}

/*--- city-choise ---*/

.city-choise {
  display: none;

  margin: 0;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 #e5e5e5;
}

.city-choise__list {
  margin: 0;
  padding: 0;
  columns: 3;
}

.city-choise__list-item {
  list-style: none;
  line-height: 1.5em;
}

.city-choise__list-item:hover {
  color: #0072bc;
  cursor: pointer;
}

@media (max-width: 768px) {
  .city-choise__list {
    columns: 2;
  }
}

@media (max-width: 360px) {
  .city-choise {
    padding: 25px;
  }

  .city-choise__list {
    columns: 1;
  }
}


/*--- Close button ---*/
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  padding: 10px;

  background-color: transparent;
  border: none;
  
  cursor: pointer;
}

.close-button__bar {
  width: 20px;
  height: 2px;
  margin: 0;

  background: #000000;
}

.close-button__bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.close-button__bar:nth-child(2) {
  transform: translateY(-9px) rotate(-45deg);
}


/*--- datetime ---*/

.datetime {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.datetime__date {
  margin-right: 34px;

  letter-spacing: -0.32px;
}

.datetime__date_mobile {
  display: none;

  margin-right: 22px;
}

.datetime__time {
  min-height: 16px;
  padding-left: 24px;

  color: #91919f;

  background-image: url("../img/header-clock.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@media (max-width: 1000px) {
  .datetime {
    display: none;
  }
}

@media (max-width: 768px) {
  .datetime {
    order: 2;
    display: flex;

    margin-top: 33px;

    color: #91919f;
  }

  .datetime__date {
    margin-right: 22px;
  }
}

@media (max-width: 560px) {
  .datetime {
    margin-top: 59px;
  }

  .datetime__date {
    display: none;
  }

  .datetime__date_mobile{
    display: block;
  }
}



/*--- weather ---*/

.weather {
  display: block;
  min-height: 21px;
  padding-left: 39px;
  padding-top: 3px;

  color: #91919f;

  background-image: url("../img/header-weather.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

@media (max-width: 768px) {
  .weather {
    order: 4;

    margin-top: 33px;
  }
}

@media (max-width: 560px) {
  .weather {
    margin-top: 59px;
  }
}



/* --- Search form --- */

.search-form {
  position: relative;
}

.search-form__input {
  width: 319px;
  height: 46px;
  padding: 0 40px 0 20px;
  
  font-size: 0.875rem;
  letter-spacing: -0.28px;

  background-color: #f3f3f3;
  border-width: 0;
  border-radius: 22.5px;
}

.search-form__button {
  position: absolute;
  top: 15px;
  right: 20px;

  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  background-image: url('../img/header-search.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  
  cursor: pointer;
}

.search-form__button_mobile {
  position: initial;
  display: none;
}

@media (max-width: 600px) {
  .search-form__input {
    width: 280px;
  }
}

@media (max-width: 560px) {
  .search-form__input {
    display: none;
  }

  .search-form__button {
    display: none;
  }

  .search-form__button_mobile {
    display: block;
  }
}



/* --- header-menu --- */

@media (max-width: 768px) {
  .header-menu {
    position: relative;
    display: none;
    overflow: visible;
  }
}

.header-menu_mobile {
  display: block;
}

.header-menu__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header-menu__item {
  position: relative;
  display: inline-block;
  margin-right: 2.250em;
}

.header-menu__item::after {
  content: "/";
  position: absolute;
  display: block;
  right: -1.4em;
  top: 0;

  color: #91919f;
}

.header-menu__item:last-child::after {
  display: none;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  display: inline-block;
  letter-spacing: -0.32px;
}

.header-menu__link:hover {
  color: #0072bc;
  
  border-bottom: 2px dotted #0072bc;
}

@media (max-width: 960px) {
  .header-menu__item {
    margin-right: 1.5em;
  }

  .header-menu__item::after{
    right: -1em;
  }
}

@media (max-width: 850px) {
  .header-menu__item {
    margin-right: 0.9em;
  }

  .header-menu__item::after{
    right: -0.7em;
  }
}

@media (max-width: 768px) {
  .header-menu__list {
    position: absolute;
    top: -41px;
    z-index: 100;

    width: 100%;
    padding: 0 25px;

    background: linear-gradient(to bottom, #f3f3f3, #ffffff 20px);
    box-shadow: 0 5px 5px 0 #e5e5e5;
  }

  .header-menu__item {
    position: initial;
    display: block;
    margin: 0;
    padding: 0;
    
    border-bottom: 1px solid #767676;
  }

  .header-menu__item:last-child {
    border-bottom: none;
  }

  .header-menu__item::after{
    display: none;
  }

  .header-menu__link {
    display: block;
    padding: 15px;
  }

  .header-menu__link:hover {
    border-bottom: none;
    border-left: 4px solid #0072bc;
    padding-left: 11px;
  }
}

@media (max-width: 560px) {
  .header-menu__list {
    top: -66px;
  }
}