/* -------- Header --------- */

/* ---header-rows--- */

.header {
  padding-bottom: 30px;

  background-color: #ffffff;
}

@media (max-width: 560px) {
  .header {
    padding-bottom: 41px;
  }
}

.header__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  margin-bottom: 40px;
  padding: 1.25em 0;

  color: #ffffff;

  background-color: #00122f;
}

@media (max-width: 560px) {
  .header-top {
    margin-bottom: 13px;
  }
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

@media (max-width: 560px) {
  .header-middle {
    align-items: center;
    margin-bottom: 13px;
  }
}


/* --- header-top-row-elements --- */

.header-top__heading {
  margin: 0 20px 0 0;

  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.32px;
}

@media (max-width: 560px) {
  .header-top__heading {
    margin: 0 auto;

    font-size: 0.8125rem;
  }
}

.header-top__heading-link {
  text-decoration: underline;
}

.header-top__heading-link:hover {
  color: #0072bc;
}

.header-top__datetime {
  display: block;

  letter-spacing: -0.32px;
}

@media (max-width: 560px) {
  .header-top__datetime {
    display: none;
  }
}


/* --- header-middle-row-elements --- */

.icon-burger--mobile {
  position: relative;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
  margin-left: 25px;
}

@media (max-width: 560px) {
  .icon-burger--mobile {
    display: flex;
  }
}

/* .icon-burger--mobile:hover {
  top: -3px;
  height: 20px;

  transition-duration: 0.3s;
} */

.icon-burger__bar {
  display: block;
  height: 2px;
  margin: 0;

  background: #000000;
}

.header-logo_image {
  display: block;
  align-self: center;
}

.city-choise__link {
  display: block;
  min-height: 5px;
  padding-right: 17px;

  background-image: url('../img/header-down-arrow.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  border: none;
}

@media (max-width: 560px) {
  .city-choise__link {
    display: none;
  }
}

.city-choise__text {
  color: #0072bc;

  border-bottom: 2px dotted #0072bc;
}

.header-middle__datetime {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 560px) {
  .header-middle__datetime {
    display: none;
  }
}

.header-middle__date {
  margin-right: 34px;

  letter-spacing: -0.32px;
}

.header-middle__time {
  min-height: 16px;
  padding-left: 24px;

  color: #91919f;

  background-image: url("../img/header-clock.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.header-middle__weather {
  display: block;
  min-height: 21px;
  padding-left: 39px;
  padding-top: 3px;

  color: #91919f;

  background-image: url("../img/header-weather.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@media (max-width: 560px) {
  .header-middle__weather {
    display: none;
  }
}


/* --- Search form --- */

.search-form {
  position: relative;
}

@media (max-width: 560px) {
  .search-form {
    display: none;
  }
}

.search-form__text {
  width: 319px;
  height: 46px;
  padding: 0 40px 0 20px;
  
  font-size: 0.875rem;
  letter-spacing: -0.28px;

  background-color: #f3f3f3;
  border-width: 0;
  border-radius: 22.5px;
}

.search-form__button {
  position: absolute;
  top: 15px;
  right: 20px;

  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  background-image: url('../img/header-search.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  
  cursor: pointer;
}

.search-form__button--mobile {
  display: none;

  width: 16px;
  height: 16px;
  margin-right: 25px;
  padding: 0;

  background-color: transparent;
  background-image: url('../img/header-search.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  
  cursor: pointer;
}

@media (max-width: 560px) {
  .search-form__button--mobile {
    display: block;
  }
}

/* --- header-bottom--mobile */

.header-bottom--mobile {
  display: none;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 46px;

  background: linear-gradient(to bottom, #f3f3f3, #ffffff 20px);
}

@media (max-width: 560px) {
  .header-bottom--mobile {
    display: flex;
  }
}

.header-bottom__datetime--mobile {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 25px;

  color: #91919f;
}

.header-bottom__date--mobile {
  margin-right: 22px;

  letter-spacing: -0.32px;
}

.header-bottom__time--mobile {
  min-height: 16px;
  padding-left: 24px;

  color: #91919f;

  background-image: url("../img/header-clock.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.header-bottom__weather--mobile {
  display: block;
  min-height: 21px;
  margin-right: 25px;
  padding-left: 39px;
  padding-top: 3px;

  color: #91919f;

  background-image: url("../img/header-weather.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* --- header-menu --- */

@media (max-width: 560px) {
  .header-menu {
    display: none;
  }
}

.header-menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header-menu__item {
  display: block;
  margin-right: 1.125em;
}

.header-menu__item::after {
  content: "/";
}

.header-menu__item:last-child::after {
  content: "";
}

.header-menu__item-link {
  letter-spacing: -0.32px;
  margin-right: 1.125em;
}

.header-menu__item:last-child,
.header-menu__item:last-child .header-menu__item-link {
  margin-right: 0;
}

.header-menu__item-link:hover {
  color: #0072bc;
  
  border-bottom: 2px dotted #0072bc;
}
