/* @media (max-width: 768px) {

  .main-top {
    flex-wrap: wrap;
  }

  .news-today {
    width: 35%;
  }
  
  .news-main {
    width: 65%;
  }
  
  .banners {
    width: 100%;
    flex-direction: row;
  }

  .header-menu__item {
    margin-right: 0.25em;
  }
  
  .header-menu__item-link {
    margin-right: 0.25em;
  }
}

@media (max-width: 940px) {

  .header-menu__item {
    margin-right: 1em;
  }
  
  .header-menu__item-link {
    margin-right: 1em;
  }

} */
