html, body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: Arial;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.layout__fix-container {
  position: relative;
  width: 1000px;
	margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* -------- Header --------- */

/* ---header-top--- */

.header-top {
  padding: 19px 0 18px 0;
  background-color: #00122f;
  color: #ffffff;
}

.header-top__heading {
  float: left;
  margin: 0;
  font-size: 16px;
}

.header-top__heading-link {
  color: #ffffff;
}

.header-top__heading-link:hover {
  color: #0072bc;
}

.header-top__datetime {
  float: right;
}

/* ---header-middle--- */

.header-middle {
  padding-top: 40px;
}

.header-logo_image {
  display: block;
  float: left;
}

.cityes {
  float: left;
  color: #0072bc;
  text-decoration: underline;
  margin-left: 53px;
}

.header-middle__datetime {
  float: left;
  margin-left: 34px;
}

.header-middle__date {
  float: left;  
  margin-right: 29px;
}

.header-middle__time {
  float: left;
  padding-left: 20px;
  background-image: url("img/clock.png");
  background-repeat: no-repeat;
  background-position-y: center;
  color: #91919f;
}

.header-middle__weather {
  float: left;
  margin-left: 34px;
  padding-left: 32px;
  background-image: url("img/cloudy.png");
  background-repeat: no-repeat;
  background-position-y: center;
  color: #91919f;
}

.search-form {
  position: relative;
  float: right;
}

.search-form__text {
  height: 46px;
  width: 260px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 40px;
  border-width: 0;
  border-radius: 22.5px;
  background-color: #f3f3f3;
  font-size: 14px;
  outline: none;
}

.search-form__button {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 16px;
  height: 16px;
  border-width: 0;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-image: url("img/search.png");
}

/* ---header-bottom--- */

.header-bottom {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size:0;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

.main-menu__item {
  display: inline-block;
}

.main-menu__item::after {
  content: "/";
  margin-left: 18px;
  margin-right: 18px;
}

.main-menu__item:last-child::after {
  content: "";
  margin-left: 0;
  margin-right: 0;
}

.main-menu__item-link {
  color: #000000;
  text-decoration: none;
}

.main-menu__item-link:hover {
  color: #0072bc;
  border-bottom: 2px dotted #0072bc;
}


/* -------- Main --------- */

.main {
  background-image: url("img/central-bg-top.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: #f9f9f9;
  padding-top: 20px;
}

.news .layout__left-column {
  float: left;
  width: 25%;
  margin-right: 2%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.news .layout__central-column {
  float: left;
  width: 46%;
  background: transparent;
}

.news .layout__right-column {
  float: right;
  width: 25%;
  margin-left: 2%;
}

/* ---News-list--- */

.news-list-heading {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.news-list-heading__link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.news-list-heading__link:hover {
  color: #0072bc;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* ---News-item--- */

.news-item {
  margin-bottom: 11px;
}

.news-item__heading {
  padding-top: 8px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.news-item__heading-link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.news-item__heading-link:hover {
  color: #0072bc;
}

.news-item__props {
  position: relative;
}

.news-item__label {
  font-size: 12px;
  color: #91919f;
  text-decoration: none;
}

.news-item__label:hover {
  color: #0072bc;
}

.news-item__label::before {
  content: "/";
}

.news-item__time {
  position: absolute;
  bottom:1px;
  left: 100px;
  padding-left: 18px;
  font-size: 12px;
  background-image: url('img/icon-time.png');
  background-repeat: no-repeat;
  background-position: 0 1px;
}

.news-item__comments-count {
  position: absolute;
  bottom:1px;
  left: 165px;
  padding-left: 18px;
  font-size: 12px;
  background-image: url('img/icon-comments.png');
  background-repeat: no-repeat;
  background-position: 0 1px;
}

.news-item__image {
  width: 100%;
  max-height: 140px;
}


/* ---Button--- */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 25px auto;
  height: 46px;
  width: 177px;
  border: 1px solid #0072bc;
  border-radius: 25% / 100%;
}

.button__link {
  display: block;
  padding: 15px 46px;
  font-size: 14px;
  color: #0072bc;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: #0072bc;
}

.button:hover .button__link {
  color:#ffffff;
}


/* ---news-with-picture--- */

.news-with-picture {
  position: relative;
}

.news-with-picture__image {
  width: 100%;
}

.news-with-picture__label {
  position: absolute;
  top: 112px;
  left: 20px;
  z-index: 100;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.news-with-picture__label:hover {
  color: #0072bc;
}

.news-with-picture__label::before {
  content: "/";
}

.news-with-picture__heading {
  position: absolute;
  top: 135px;
  left: 20px;
  z-index: 100;
  margin: 0;
  line-height: 35px;
  letter-spacing: -0.6px;
}

.news-with-picture__heading-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.news-with-picture__heading-link:hover {
  color: #0072bc;
}

.news-with-picture__datetime {
  position: absolute;
  top: 270px;
  left: 20px;
  z-index: 100;
}

.news-with-picture__date {
  float: left;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.news-with-picture__date:hover {
  color: #0072bc;
}

.news-with-picture__time {
  float: left;
  margin-left: 34px;
  padding-left: 13px;
  font-size: 12px;
  background-image: url('img/main-news-clock.png');
  background-repeat: no-repeat;
  background-position: left 1.5px;
  color: #ffffff;
}

.news-with-picture__description {
  position: absolute;
  top: 285px;
  left: 20px;
  z-index: 100;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.7;
}


/* --- news-items-with-small-pictures --- */

.news-items-with-small-pictures {
  padding-top: 20px;
}

.news-items-with-small-pictures .news-list__item {
  float: left;
  width: 220px;
  padding: 0;
  margin-bottom: 20px;
}

.news-items-with-small-pictures .news-list__item:nth-child(2n+1) {
  margin-right: 20px;
}


/* --- popular-news--- */

.popular-news {
  padding-top: 20px;
  padding-bottom: 59px;
  background-color: #f9f9f9;
}

.popular-news .layout__left-column {
  float: left;
  width: 58%;  
}

.popular-news .layout__right-column {
  float: right;
  width: 42%;
  padding-left: 20px;
  padding-right: 20px;
}

.popular-news .news-item__heading {
  line-height: 22px;
}

.popular-news .news-item__heading-link {
  font-size: 16px;
}

/* --- banner ---*/

.banner {
  display: block;
  margin-bottom: 20px;
  width: 250px;
}

.banner:last-child {
  margin-bottom: 0;
}

.banner__image {
  width: 100%;
}

/* -------- Footer --------- */

.footer {
  background-color: #00122f;
}

.footer-top {
  padding-top: 57px;
  padding-bottom: 57px;
}

.footer-menu {
  float: left;
}

.footer-menu:nth-child(1) {
  margin-right: 60px;
}

.footer-menu:nth-child(2) {
  margin-right: 200px;
}

.footer-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

.footer-menu__item {
  padding-bottom: 19px;
}

.footer-menu__item:last-child {
  padding-bottom: 0;
}

.footer-menu__item-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu__item-link:hover {
  color: #0072bc;
}

.footer-logo {
  display: block;
  margin-top: 0;
  margin-bottom: 22px;
}

.footer-right {
  float: right;
}

.social-button-block {
  margin-bottom: 45px;
}

.social-button {
  display: block;
  float: left;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-button:last-child {
  margin-right: 0;
}

.social-button:hover {
  border-color: #0072bc;
  background-color: #0072bc;
}

.vk {
  background-image: url("img/vk_icon.png");
}

.fb {
  background-image: url("img/fb_icon.png");
}
.twitter {
  background-image: url("img/twitter_icon.png");
}
.instagram {
  background-image: url("img/instagram_icon.png");
}

.footer__phone {
  display: block;
  background-image: url("img/call-answer_icon.png");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 30px;
  margin-bottom: 26px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.footer__email {
  display: block;
  background-image: url("img/mail_icon.png");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 30px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.footer__phone:hover,
.footer__email:hover {
  color: #0072bc;
}


/* --- Copyright --- */

.footer__copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: #ffffff;
  opacity: 0.4;
  text-align: center;
}